.product_detail {
  width: 100%;
  border-radius: 20px;
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0.178);
}
.p_img {
  object-fit: cover;
  height: 200px;
  object-position: center;
  display: block;
  width: 100%;
}
.imageThumb {
  max-height: 75px;
  border: 2px solid;
  padding: 1px;
  cursor: pointer;
}
.pip {
  display: inline-block;
  margin: 10px 10px 0 0;
}
.remove {
  display: block;
  background: #444;
  border: 1px solid black;
  color: white;
  text-align: center;
  cursor: pointer;
}
.remove:hover {
  background: white;
  color: black;
}
.search_list {
  width: 25%;
  float: right;
  position: absolute;
  z-index: 1;
  right: 0;
}
